# rio-cogeo
access
affine
aiobotocore[boto3,awscli]==2.4.2
alabaster
astropy
autopep8
black
bokeh==2.4.3
boltons
bottleneck
cartopy --no-binary cartopy
cattrs
ciso8601
cligj
cmocean
cognitojwt==1.4.1 # Used for user authentication
colorama
contextily
dask-gateway-server==2023.1.1
hdstats==0.2.1
dask-gateway==2023.1.1
dask-image
kombu==4.6.11
dask-labextension==6.1.0
dask-ml
dask[complete]==2023.3.1 # due to dask-gateway
dataclasses
datacube-stats==1.0.2
datacube[performance,s3]
datashader==0.13.0
deafrica-tools
descartes
dill
distributed==2023.3.1 # due to dask-gateway
docutils
eodatasets3
fc==1.3.5
ffmpeg-python
folium==0.12.1
gdal==3.6.3
geohash2
geojson
geopy
geoviews==1.9.6
graphviz==0.17
h5py
hdmedians --no-binary=hdmedians
holoviews==1.14.5
https://github.com/ubarsc/rios/archive/rios-1.4.10.tar.gz
ipycanvas==0.9.0
ipyevents==2.0.1
ipyfilechooser==0.4.4
ipyleaflet==0.14.0
ipympl==0.8.0
ipython==7.31.1
ipywidgets==7.7.5
isort==5.9.3
jedi==0.18.0
jsonschema
jupyter-bokeh==3.0.2
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-nbextensions-configurator==0.4.1
jupyter-resource-usage==0.6.0
jupyter-server-proxy==3.2.1
jupyter-server==1.10.2
jupyter-ui-poll==0.2.2
jupyter==1.0.0
jupyterhub==1.5.0
jupyterlab-code-formatter==1.4.10
jupyterlab-code-snippets==2.1.0
jupyterlab-geojson==3.1.2
jupyterlab-git==0.32.2
jupyterlab-iframe==0.4.0
jupyterlab-language-pack-fr-FR==3.1.post0
jupyterlab-logout==0.5.0
jupyterlab-system-monitor==0.8.0
jupyterlab-topbar==0.6.1
jupyterlab-widgets==1.1.4
jupyterlab==3.1.12
jupytext==1.11.4
lark-parser
latex
line-profiler==3.3.0
mapclassify
mypy
nbconvert # because of jupyter_contrib_nbextensions
nbdime==3.1.1
nbformat==5.1.3
nbgitpuller==1.0.2
nbval==0.9.6
netcdf4==1.5.8
numba
numexpr
numexpr3
odc-algo
odc-cloud[ASYNC]
odc-dscache
odc-io
odc-stac
odc-stats[ows]
odc-ui==0.2.1.dev3530 --extra-index-url="https://packages.dea.ga.gov.au"
opencv-contrib-python-headless
opencv-python-headless
osmnx
otps==0.3.2
OWSLib
pandana
pandas
pandoc
panel==0.14.4
param
parso==0.8.2
pathos
Pillow
plotly==5.3.1
prompt-toolkit==3.0.19 # because of line_profiler/ipython
protobuf
psycopg2
pydash
pydotplus==2.0.2
pyproj
pyrsistent
pysal
pysheds
pystac-client
python-dateutil
python-geohash
pyTMD==1.0.6
pyviz_comms==2.0.1
pyyaml
rioxarray
Rtree
s2cloudmask
s3fs
scikit-image
scikit-learn
scipy
seaborn
setuptools-scm[toml]
sidecar==0.5.1
sqlalchemy
structlog
tensorflow
tflite-runtime-nightly
thredds-crawler
toolz
tqdm
urbanaccess
urllib3
voluptuous
xarray
xgboost # used by Dale's s2cloudmask
yapf==0.31.0
zarr


--no-binary rasterio
--no-binary shapely
--no-binary fiona
--no-binary hdstats
